<header>
    <div class="container cabecalho">

            <!-- <div id="menu-sanduiche">
                <a routerLink="#" onclick="mostrarMenu()">
                    <img src="img/bars.svg" alt="bars" class="botao-sanduiche">
                </a>
            </div> -->
            <div id="menu-sanduiche">
                <a routerLink="#">
                    <img src="assets/img/bars.svg" alt="bars" class="botao-sanduiche">
                </a>
            </div>
            
            <div class="logo-buscador">
                <a routerLink="index.html" class="logo">
                    <img src="assets/img/game.svg" alt="Iconelogo" class="icone-logo">
                    <img src="assets/img/GAMEMANIA4-SF 1.svg" alt="Logo" class="nome-logo">
                </a>
                
                <form class="form-buscador"> 
                    <input id="campo-busca-1" class="buscador" type="search" minlength="3" placeholder="O que você está procurando?">
                    <button style="display: none;" onclick="entradaBusca('campo-busca-1')">Continuar</button>
                </form>
            </div>

            <div class="login-carrinho">
                <a routerLink="/login">
                    <img src="assets/img/user.svg" alt="usuario" class="icone-login">
                    <p class="texto-login">Entre ou <br> cadastre-se</p>        
                </a>
                <img src="assets/img/carrinho.svg" alt="carrinho" class="carrinho">
            </div>
    </div>

    <div class="container grid-menu">
        <nav id="menu" class="menu">
            <a routerLink="#" >Usados</a>
            <a routerLink="#" >Informática</a>
            <a routerLink="#" >Nintendo</a>
            <a routerLink="#" >Playstation</a>
            <a routerLink="#" >Xbox</a>
        </nav>
        
        <form class="form-buscador"> 
            <input id="campo-busca-2" class="buscador" type="search" minlength="3" placeholder="O que você está procurando?">
            <button style="display: none;" onclick="entradaBusca('campo-busca-2')">Continuar</button>
        </form>
    </div>
        

   

</header>
