<app-header></app-header>
<main>
    <a routerLink="#" style="text-decoration:none;">
        <section id="carrossel-banner" class="banner">
            <div class="container grid-banner">

               
                <div id="imagem-banner" class="imagem-banner">
                    <img src="assets/img/shopping 1.svg" alt="img-godofwar" class="imagem-godofwar">
                    <img src="assets/img/shopping 2.svg" alt="img-horizon" class="imagem-horizon">
                    <img src="assets/img/shopping 3.svg" alt="img-fifa" class="imagem-fifa">
                </div>

                <div id="mascara"class="mascara">
                    
                </div>
                
                <div id="destaque-banner" class="destaque-banner">
                    <h1 class="texto-destaque">Jogos PS5</h1>
                    <div id="#promocao" class="promocao">
                        <p class="texto-promocao">Leve 2 e pague 1</p>
                    </div>      
                    <div class="botao-promocao">
                        <p>Aproveite ></p>
                    </div>
                </div>
            </div>

        </section>
            
    </a>
    <section class="informacoes">
        <div class="container grid-informacoes">
            <div class="icone-texto-informacoes">
                <img src="assets/img/entrega.svg" alt="caminhao entrega" class="icone-informacoes">
                <div>
                    <h2 class="titulo-informacoes">Entregamos</h2>
                    <p class="texto-informacoes">em todo o Brasil</p>
                </div>
            </div>

            <div class="icone-texto-informacoes">
                <img src="assets/img/parcelamento.svg" alt="cartao" class="icone-informacoes">
                <div>
                    <h2 class="titulo-informacoes">Parcelamento</h2>
                    <p class="texto-informacoes">em até 12x sem juros</p>
                </div>
            </div>

            <div class="icone-texto-informacoes">
                <img src="assets/img/seguranca.svg" alt="cadeado" class="icone-informacoes">
                <div>
                    <h2 class="titulo-informacoes">Compre</h2>
                    <p class="texto-informacoes">com segurança</p>
                </div>
            </div>

            <div class="icone-texto-informacoes">
                <img src="assets/img/atendimento.svg" alt="fone" class="icone-informacoes">
                <div>
                    <h2 class="titulo-informacoes">Atendimento</h2>
                    <p class="texto-informacoes">online</p>
                </div>
            </div>
        </div>
    </section>
   
    <section class="destaques">
        <div class="container grid-destaques">
            <div class="titulo-destaque">
                <h2>Destaques</h2>
            </div>
            <div class="imagens-destaque">
                <div class="linha-destaque">
                    <a routerLink="#" class="link-destaque">
                        <div class="card-destaque">
                            <img src="assets/img/card 1.svg" alt="imagem card 1" class="imagem-card">
                            <h2 class="titulo-card">Console Playstation 5 825gb com Leitor de Disco cfi - 1114A</h2>
                            <p class="preco-card">R$ 4.499,99</p>
                            <button class="botao-card botao-login">Adicionar</button>
                        </div>
                    </a>
                    <a routerLink="#" class="link-destaque" >
                        <div class="card-destaque">
                            <img src="assets/img/card 2.svg" alt="imagem card 2" class="imagem-card">
                            <h2 class="titulo-card">PC Gamer Intel® Core™ i5, 8GB, SSD 256GB | GT Gamer</h2>
                            <p class="preco-card">R$ 1.804,90</p>
                            <button class="botao-card botao-login">Adicionar</button>
                        </div>
                    </a>
                    <a routerLink="#" class="link-destaque" >
                        <div class="card-destaque">
                            <img src="assets/img/card 3.svg" alt="imagem card 3" class="imagem-card">
                            <h2 class="titulo-card">Sony Playstation 4 500Gb Standard Cor Preto Onyx  Refurb</h2>
                            <p class="preco-card">R$ 2.960,35</p>
                            <button class="botao-card botao-login">Adicionar</button>
                        </div>
                    </a>
                </div>
                <div class="linha-destaque">
                    <a routerLink="#" class="link-destaque" >
                        <div class="card-destaque">
                            <img src="assets/img/card 4.svg" alt="imagem card 4" class="imagem-card">
                            <h2 class="titulo-card">Kit Gamer 5x1 Kross Elegance</h2>
                            <p class="preco-card">R$ 214,00</p>
                            <button class="botao-card botao-login">Adicionar</button>
                        </div>
                    </a>
                    <a routerLink="#" class="link-destaque">
                        <div class="card-destaque">
                            <img src="assets/img/card 5.svg" alt="imagem card 5" class="imagem-card">
                            <h2 class="titulo-card">Video Game Xbox One S 1tb Standard Cor Branco Console</h2>
                            <p class="preco-card">R$ 2.499,99</p>
                            <button class="botao-card botao-login">Adicionar</button>
                        </div>
                    </a>
                    <a routerLink="#" class="link-destaque">
                        <div class="card-destaque">
                            <img src="assets/img/card 6.svg" alt="imagem card 6" class="imagem-card">
                            <h2 class="titulo-card">Cadeira Gamer Azul - Prizi – Jx-1039b</h2>
                            <p class="preco-card">R$ 461,91</p>
                            <button class="botao-card botao-login">Adicionar</button>
                        </div>  
                    </a>
                </div>


                
                
                
            </div>

            <div class="carrossel-destaque">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a routerLink="#" class="link-destaque">
                            <div class="card-destaque">
                                <img src="assets/img/card 1.svg" alt="imagem card 1" class="imagem-card">
                                <h2 class="titulo-card">Console Playstation 5 825gb com Leitor de Disco cfi - 1114A</h2>
                                <p class="preco-card">R$ 4.499,99</p>
                                <button class="botao-card botao-login">Adicionar</button>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="#" class="link-destaque">
                            <div class="card-destaque">
                                <img src="assets/img/card 2.svg" alt="imagem card 2" class="imagem-card">
                                <h2 class="titulo-card">PC Gamer Intel® Core™ i5, 8GB, SSD 256GB | GT Gamer</h2>
                                <p class="preco-card">R$ 1.804,90</p>
                                <button class="botao-card botao-login">Adicionar</button>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="#" class="link-destaque">
                            <div class="card-destaque">
                                <img src="assets/img/card 3.svg" alt="imagem card 3" class="imagem-card">
                                <h2 class="titulo-card">Sony Playstation 4 500Gb Standard Cor Preto Onyx  Refurb</h2>
                                <p class="preco-card">R$ 2.960,35</p>
                                <button class="botao-card botao-login">Adicionar</button>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="#" class="link-destaque">
                            <div class="card-destaque">
                                <img src="assets/img/card 4.svg" alt="imagem card 4" class="imagem-card">
                                <h2 class="titulo-card">Kit Gamer 5x1 Kross Elegance</h2>
                                <p class="preco-card">R$ 214,00</p>
                                <button class="botao-card botao-login">Adicionar</button>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="#" class="link-destaque">
                            <div class="card-destaque">
                                <img src="assets/img/card 5.svg" alt="imagem card 5" class="imagem-card">
                                <h2 class="titulo-card">Video Game Xbox One S 1tb Standard Cor Branco Console</h2>
                                <p class="preco-card">R$ 2.499,99</p>
                                <button class="botao-card botao-login">Adicionar</button>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="#" class="link-destaque">
                            <div class="card-destaque">
                                <img src="assets/img/card 6.svg" alt="imagem card 6" class="imagem-card">
                                <h2 class="titulo-card">Cadeira Gamer Azul - Prizi – Jx-1039b</h2>
                                <p class="preco-card">R$ 461,91</p>
                                <button class="botao-card botao-login">Adicionar</button>
                            </div> 
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        
        
    </section>
    
    <section class="slogan">
        <div class="mascara-slogan">
            <div class="escurece-mascara" >
                <div class="container grid-slogan">
                    <h1 class="texto-slogan">Compre games com quem entende de games</h1>                
                </div>
            </div>
        </div>
    </section>

    <section class="informacoes-menor-768">
        <div class="container grid-informacoes">
            <div class="icone-texto-informacoes">
                <img src="assets/img/entrega.svg" alt="caminhao entrega" class="icone-informacoes">
                <div>
                    <h2 class="titulo-informacoes">Entregamos</h2>
                    <p class="texto-informacoes">em todo o Brasil</p>
                </div>
            </div>

            <div class="icone-texto-informacoes">
                <img src="assets/img/parcelamento.svg" alt="cartao" class="icone-informacoes">
                <div>
                    <h2 class="titulo-informacoes">Parcelamento</h2>
                    <p class="texto-informacoes">em até 12x sem juros</p>
                </div>
            </div>
        </div>
    </section>

    <section class="informacoes-menor-768">
        <div class="container grid-informacoes">
            <div class="icone-texto-informacoes">
                <img src="assets/img/seguranca.svg" alt="cadeado" class="icone-informacoes">
                <div>
                    <h2 class="titulo-informacoes">Compre</h2>
                    <p class="texto-informacoes">com segurança</p>
                </div>
            </div>

            <div class="icone-texto-informacoes">
                <img src="assets/img/atendimento.svg" alt="fone" class="icone-informacoes">
                <div>
                    <h2 class="titulo-informacoes">Atendimento</h2>
                    <p class="texto-informacoes">online</p>
                </div>
            </div>
        </div>
    </section>
    
</main>
