/* Cabeçalho */

header {
    height: 120px;
    background-image: linear-gradient(#2596BE 66.67%,  #041014 33.33%);
}



.cabecalho {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66.67%;
   
}

.logo {
    width: 41.18%;
    display: flex;
    align-items: center;
}

.form-buscador {
    width: 58.82%;
}

.buscador {
    /* width: 58.82%; */
    width: 100%;
    height: 40px;
    border-radius: 5cm;
    border: 0;
    padding-left: 20px;
    background-image: url(/assets/img/lupa.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 97%;
}

.icone-logo {
    width: 21.71%;
}

.nome-logo {
    width: 78.29%;
}

.buscador::placeholder {
    font-size: 15px;
}

.buscador:focus{
    outline: none;
    
}

.logo-buscador {
    display: flex;
    width: 77%;
    justify-content: space-between;
    align-items: center;
}

.login-carrinho {
    display: flex;
    width: 17.55%;
    justify-content: space-between;
    align-items: center;
}

.login-carrinho a{
    display: flex;
    justify-content: space-between;
    width: 110px;
    text-decoration: none;
    align-items: center;
}

.icone-login {
    width: 30px;
    height: 30px;
}

.texto-login {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;
    margin-bottom: 0;
    
}


.carrinho {
    width: 30px;
    height: 30px;
    
}


/* menu */

.grid-menu {
    height: 33.33%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.menu {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
}


.botao-sanduiche {
    width: 28px;
    height: 28px;
}

.botao-menu hr {
    width: 20px; 
    border-top: 3px solid white; 
    margin: 0;
    opacity: 1;
}

.link-botao{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;


}

.link-botao:hover{
    background-color: #041014;
    color: white;
}

header .dropdown-menu {
    padding: 0;
    width: 200px;
}



/* main {
    height: 1770px;
} */

/* Banner */

.banner {
    height: 400px;
    background-image: linear-gradient(to right, #145369, #010303 70%);
}

.banner-1 {
    height: 400px;
    background-image: url(/assets/img/consoles-usados.svg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.banner-2 {
    height: 400px;
    background-image: url(/assets//img/banner-god-of-war.svg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.elemento-banner-desativado {
    display: none;
}

.grid-banner {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-banner{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 350px;
    width: 40.4%;
    
}

.imagem-godofwar {
    height: 200px;
    width: 31.1%;
    align-self: flex-start;
}

.imagem-horizon {
    height: 200px;
    width: 31.1%;
    
}

.imagem-fifa {
    height: 200px;
    width: 31.1%;
    align-self: flex-end;
}

.texto-destaque {
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.promocao {
    width: 350px;
    height: 40px;
    background-color: #278D38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-promocao {
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
   
}

.botao-promocao {
    width: 200px;
    height: 38px;
    background-color: #8cdee9;
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
}

.destaque-banner {
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* informações */

.informacoes {
    background-color: #2596BE;
    height: 100px;

}

.grid-informacoes {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone-texto-informacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icone-informacoes {
    height: 50px;
    width: 50px;
    margin-right: 5px;

}

.titulo-informacoes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

}

.texto-informacoes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;

}

.informacoes-menor-768 {
    height: 90px;
    background-color: #2596BE;
}

.informacoes-menor-768 .icone-texto-informacoes {
    width: 180px;
    justify-content: flex-start;
}

/* Rodapé */

footer {
    height: 400px;
    background-color: #145369;
}

.grid-rodape {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-informacoes-rodape {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.informacoes-rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    margin-top: 40px;
}

.titulo-rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

}

.link-rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white; 
    text-decoration: none;
}

.link-rodape:hover {
    color: white;
    text-decoration: underline;
}


.icone-link-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.icone-rodape {
    width: 16px;
    height: 16px;
}

.atendimento-rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    margin-top: 40px;

}

.icone-rede-rodape {
    width: 30px;
    height: 30px;
}

.redes-rodape {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10%;
}

.icone-pagamento {
    width: 40px;
    height: 20px;
    background-color: white;
}

.pagamento-rodape {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

footer .dropdown {
    width: 100%;
}

footer .dropdown-menu {
    width: 100%;
    padding: 0;
    background-color: #145369;
    border-radius: 0;
    border: 0;
    
}

footer .dropdown-item:hover {
   background-color: #155972;
}

.botao-rodape {
    width: 100%;
    height: 60px;
    padding: 15px;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    background-color: #145369;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}



.link-botao-rodape {
    border-bottom: 0;
    height: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;

}

footer .dropdown-menu .icone-rodape  {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

footer .dropdown .icone-pagamento {
    margin-right: 10px;
}

.btn-group-vertical .titulo-informacoes-rodape {
    margin-top: 20px;
    margin-left: 15px;
}


/* login */

.transforma-header{
    background-image: none;
    background-color: #2596BE;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.transforma-main{
    height: 500px;
    background-image: url(/assets/img/herois.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}

.mascara {
    background-color: rgb(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-grid-login {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.campo-login {
    width: 300px;
    height: 40px;
    opacity: 70%;
    background-color: #010303;
    border: 1px;
    padding-left: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    color: white;
    margin-bottom: 5%;
    
}

.login {
    display: flex;
    height: 75%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.botao-login {
    width: 300px;
    height: 40px;
    background-color: #8cdee9;
    color: white;
    border-radius: 5px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
}

.campo-login:focus {
    color:black;
    background-color: white;
    opacity: 90%;
    outline: none;

}

.titulo-login {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 25px;
    margin-bottom: 10%;
}

.link-muda-senha {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #808383;
    font-size: 14px;
    margin-bottom: 5%;
}

.linha-divisao {
    height: 70%;
    border-left: 1px solid;
    color:#2596BE;
    display: flex;
    justify-content: flex-start;
   
}

/* Destaques */

.destaques {
    height: 1020px;
    width: 100%;
    background-image: linear-gradient(to right, #354448 2% , #25A5BE, #2F3233 98%);
}

.grid-destaques {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titulo-destaque {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.titulo-destaque h2 {
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
   
}

.imagens-destaque {
    height: 840px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.linha-destaque {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.card-destaque {
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}

.imagem-card {
    width: 222px;
    height: 222px;
}

.titulo-card {
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.preco-card {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-card {
    width: 200px;
    height: 40px;
    color: black;
}

.link-destaque {
    text-decoration: none;
    color: black;
}

.link-destaque:hover {
    color: black;
    transform: scale(1.1);
}

.carrossel-destaque {
    height: 440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* Slogan */

.slogan {
    height: 250px;
    width: 100%;
    background-image: url(/assets/img/16233829519679\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mascara-slogan {
    background-color: rgb(0, 0, 0, 0.5);
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.escurece-mascara{
    background-color: rgb(0, 0, 0, 0.5);
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-slogan {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-slogan {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Responsividade */

@media screen and (max-width: 1200px){
    .imagens-destaque {display: none;}
    .card-destaque {width: 300px;}
    .destaques {height: 600px;}
    
    
}

@media screen and (min-width: 1200px){
    .carrossel-destaque {display: none;} 
    
}

@media screen and (max-width:1100px) {
    .texto-login { display: none;}
    .login-carrinho { width: 12%; } 
    .banner-2 {background-image: url(/assets/img/banner-god-of-war-1100.svg);}
}

@media screen and (max-width:992px) {
    .logo-buscador {width: 85%;}
    .buscador::placeholder {font-size: 13px;}
    .imagem-banner {width: 60%;}
    .banner-1 {background-image: url(/assets/img/consoles-usados-992.svg);}
    .banner-2 {background-image: url(/assets/img/banner-god-of-war-992.svg);}
    .promocao {width: 300px;}
    .texto-promocao {font-size: 22px;}
    .botao-promocao { font-size: 16px; width: 150px;}
    .texto-destaque {font-size: 36px;}
    .icone-informacoes {width: 45px; height: 45px;}
    .titulo-informacoes {font-size: 13px;}
    .texto-informacoes {font-size: 12px;}
    .slogan {height: 200px;}
    .texto-slogan {font-size: 25px;}
    .grid-rodape {width: 100%;}
    .carrossel-destaque {width: 90%;}
}

@media screen and (max-width: 768px) {
    .form-buscador { display: none; }
    .grid-menu .form-buscador {width: 100%; display: flex;}
    .cabecalho {position: relative;}
    .menu {
        display: none;
        flex-direction: column;
        background-color: #041014;
        position: absolute; 
        top: 65px;
        right: 62%;
        align-items: center;
        width: 180px;
        height: 180px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        z-index: 4;
    }
    .menu-ativo {display: flex;}
    .menu a {font-size: 12px;}
    .menu a:hover {color: grey}
    header {background-image: linear-gradient(#2596BE 66.67%,  white 33.33%); height: 100px;}
    .grid-menu .buscador {display: flex; justify-content: center; border-radius: 0; width: 100%; height: 100%; background-size: 17px 17px;}
    .grid-menu .buscador::placeholder {font-size: 14px;}
    .login-carrinho { width: 15%; }
    .logo { width: 100%;}
    .logo-buscador {justify-content: center; width: 55%;}
    .destaque-banner {position: absolute;}
    .grid-banner .mascara {position: absolute; height: 370px; background-color: rgb(0, 0, 0, 0.5)}
    .imagem-banner {width: 60%;}
    .icone-login {width: 22px;}
    .carrinho {width: 27px;}
    .banner {height: 370px}
    .banner-1 {height: 370px; background-image: url(/assets/img/consoles-usados-768.svg);}
    .banner-2 {height: 370px; background-image: url(/assets/img/banner-god-of-war-768.svg);}
    .imagem-banner {width: 70%;}
    .informacoes {display: none;}
    .slogan {height: 180px;}
    .texto-slogan {font-size: 20px;}
    .titulo-rodape {font-size: 13px;}
    .link-rodape {font-size: 12px;}
    .icone-rede-rodape {width: 25px; height: 25px;}
    .redes-rodape {width: 60px;}
    .carrossel-destaque {width: 100%;}
    .card-destaque {width: 250px; }
    .titulo-destaque h2 {font-size: 18px;}
    


    
}

@media screen and (min-width: 768px) {
    .grid-menu .form-buscador {display:none;}
    .menu {display: flex;}
    .cabecalho #menu-sanduiche {display: none;}
    .grid-banner .mascara {display: none;}
    .informacoes-menor-768 {display: none;}
    
}


@media screen and (max-width: 576px) {
    .banner-1 {background-image: url(/assets/img/consoles-usados-576.svg);}
    .banner-2 {background-image: url(/assets/img/banner-god-of-war-576.svg);}
    .menu {height: 180px; width: 180px; right: 64%;}
    .menu a {font-size: 12px;}
    .grid-informacoes {width: 90%;}
    .slogan {height: 130px;}
    .texto-slogan {font-size: 17px;}
    .grid-rodape {display: none;}
    .card-destaque {width: 200px; height: 380px;}
    .titulo-destaque h2 {font-size: 18px;}
    .imagem-card {width: 180px; height: 180px;}
    .botao-card {width: 150px;}
    .titulo-card {font-size: 12px;}
    .preco-card {font-size: 16px;}
    .botao-card {font-size: 12px;}
    .carrossel-destaque {width: 85%;}
    
}


@media screen and (min-width: 576px) {
    .btn-group-vertical {display: none;}
    
}



@media screen and (max-width: 500px) {
    .menu {right: 60%; width: 160px;}
    .icone-login {width: 20px;}
    .carrinho {width: 25px;}
    .login-carrinho { width: 18%;}
    .promocao {width: 250px;}
    .texto-promocao {font-size: 20px;}
    .botao-promocao { font-size: 14px; width: 120px;}
    .texto-destaque {font-size: 32px;}
    .banner {height:340px;}
    .banner-1 {height: 340px;}
    .banner-2 {height:340px; background-image: url(/assets/img/banner-god-of-war-500.svg);}
    .grid-banner .mascara {height: 340px;}
    .imagem-banner {width: 80%;} 
    .informacoes-menor-768 .icone-informacoes {width: 45px; height: 45px;}
    .informacoes-menor-768 .titulo-informacoes {font-size: 12px;}
    .informacoes-menor-768 .texto-informacoes {font-size: 10px;}
    .grid-informacoes {width: 100%;}
    .slogan {height: 120px;}
    .texto-slogan {font-size: 15px;}
    .carrossel-destaque {width: 100%;}
   
    
}

@media screen and (max-width: 435px) {
    .menu {right: 55%;}
    .card-destaque {width: 250px; margin-left: 20%;}
    .banner-1 {background-image: url(/assets/img/consoles-usados-435.svg);}
    .banner-2 {background-image: url(/assets/img/banner-god-of-war-435.svg);}


}

@media screen and (max-width: 400px) {
    .menu {width: 150px; right: 52%;}
    .texto-slogan {font-size: 70%;} 
    .card-destaque {margin-left: 10%;}
    .banner-2 {background-image: url(/assets/img/banner-god-of-war-400.svg);}
    

}