<footer>
    <div class="container grid-rodape" >
        <div class="titulo-informacoes-rodape">
            <h2 class="titulo-rodape">Institucional</h2>
            <nav class="informacoes-rodape">
                <a routerLink="#" class="link-rodape">Fale Conosco</a>
                <a routerLink="#" class="link-rodape">Política de Privacidade</a>
                <a routerLink="#" class="link-rodape">Politica de Troca, 
                            <br>Devolução e Reembolso</a>
                <a routerLink="#" class="link-rodape">Sobre nós</a>
            </nav>
        </div>

        <div class="titulo-informacoes-rodape">
            <h2 class="titulo-rodape">Atendimento</h2>
            <nav class="atendimento-rodape">
                <div class="icone-link-rodape">
                    <img src="assets/img/chamada.svg" alt="telefone" class="icone-rodape">
                    <a routerLink="#" class="link-rodape">(47) 99538-4194</a>
                </div>
                <div class="icone-link-rodape">
                    <img src="assets/img/whatsapp.svg" alt="whatsapp" class="icone-rodape">
                    <a routerLink="#" class="link-rodape">(47) 99538-4194</a>
                </div>
                <div class="icone-link-rodape" style="width: 105%;">
                    <img src="assets/img/mensagem.svg" alt="mensagem" class="icone-rodape">
                    <a routerLink="#" class="link-rodape">gamemania@shop.com.br</a>                     
                </div>
            </nav>
        </div>

        <div class="titulo-informacoes-rodape">
            <div>
                <h2 class="titulo-rodape">Acompanhe nas redes</h2>
                <div class="redes-rodape">
                    <a routerLink="#">
                        <img src="assets/img/facebook.svg" alt="facebook" class="icone-rede-rodape">
                    </a>
                    <a routerLink="#">
                        <img src="assets/img/instagram.svg" alt="instagram" class="icone-rede-rodape">
                    </a>
                </div>
            </div>
            <div>
                <h2 class="titulo-rodape">Pague com</h2>
                <div class="pagamento-rodape">
                    <img src="assets/img/visa.svg" alt="cartao visa" class="icone-pagamento">
                    <img src="assets/img/martercard.svg" alt="cartao mastercard" class="icone-pagamento">
                    <img src="assets/img/hipercard.svg" alt="cartao hipercard" class="icone-pagamento">
                    <img src="assets/img/boleto.svg" alt="boleto"class="icone-pagamento">
                </div>

            </div>

             
        </div>

    </div>

    <div class="btn-group-vertical container">
        <div class="dropdown">
            <button class="btn-secondary dropdown-toggle botao-rodape" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Institucional
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item link-botao-rodape" routerLink="#">Fale Conosco</a></li>
              <li><a class="dropdown-item link-botao-rodape" routerLink="#">Política de Privacidade</a></li>
              <li><a class="dropdown-item link-botao-rodape" routerLink="#">Politica de Troca, 
                <br>Devolução e Reembolso</a></li>
              <li><a class="dropdown-item link-botao-rodape" routerLink="#">Sobre nós</a></li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="btn-secondary dropdown-toggle botao-rodape" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Atendimento
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item link-botao-rodape" routerLink="#">
                    <img src="assets/img/chamada.svg" alt="telefone" class="icone-rodape">
                    (47) 99538-4194</a>
              </li>
              <li><a class="dropdown-item link-botao-rodape" routerLink="#">
                <img src="assets/img/whatsapp.svg" alt="whatsapp" class="icone-rodape">
                (47) 99538-4194</a>
              </li>
              <li><a class="dropdown-item link-botao-rodape" routerLink="#">
                <img src="assets/img/mensagem.svg" alt="mensagem" class="icone-rodape">
                gamemania@shop.com.br</a>
              </li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="btn-secondary dropdown-toggle botao-rodape" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Pague com
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li class="dropdown-item">
                <div class="pagamento-rodape" style="justify-content: flex-start;">
                    <img src="assets/img/visa.svg" alt="cartao visa" class="icone-pagamento">
                    <img src="assets/img/martercard.svg" alt="cartao mastercard" class="icone-pagamento">
                    <img src="assets/img/hipercard.svg" alt="cartao hipercard" class="icone-pagamento">
                    <img src="assets/img/boleto.svg" alt="boleto"class="icone-pagamento">
                </div>
              </li>
              <li class="dropdown-item link-botao-rodape"> </li>
              
            </ul>
        </div>

        <div class="titulo-informacoes-rodape">
            <div>
                <h2 class="titulo-rodape">Acompanhe nas redes</h2>
                <div class="redes-rodape">
                    <a routerLink="#">
                        <img src="assets/img/facebook.svg" alt="facebook" class="icone-rede-rodape">
                    </a>
                    <a routerLink="#">
                        <img src="assets/img/instagram.svg" alt="instagram" class="icone-rede-rodape">
                    </a>
                </div>
            </div>

             
        </div>
   
              
    </div>
    
</footer>